body {
    font-family: "Play", sans-serif;
  }
  
  /*styling of the home-container div element*/
  #home-container {
    background-image: url(assets/backgrounds/h_img.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  #logo {
    padding-top: 10rem;
  }
  
  #welcome-title {
    padding-top: 5rem;
  }
  
  #mouse-click {
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  
  /*styling the about-us-container div element*/
  #about-us-container {
    text-align: center;
    background-color: white;
  }
  
  #about-us-header {
    padding-top: 2rem;
  }
  
  #about-us-description {
    padding-bottom: 2rem;
    line-height: 3rem;
  }
  
  /*styling the service-container div element*/
  #service-container {
    background-image: url(assets/backgrounds/s_image.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
  }
  
  #service-header {
    padding-top: 6rem;
  }
  
  #service-description {
    padding-bottom: 6rem;
    line-height: 3rem;
  }
  
  /*styling the what-we-do div element within the portfolio-container div element*/
  #whatwedo-header {
    text-align: center;
    padding-top: 2rem;
  }
  
  #what-we-do {
    display: flex;
    flex-direction: row;
    justify-items: stretch;
    justify-content: space-between;
    padding-top: 2rem;
  }
  
  .clickable-images {
    cursor: pointer;
  }
  
  .hidden-description {
    display: none;
  }
  
  #design-icon {
    text-align: center;
  }
  
  #development-icon {
    text-align: center;
  }
  
  #product-icon {
    text-align: center;
  }
  
  #design-icon-description {
    text-align: center;
    width: 25%;
  }
  
  #development-icon-description {
    text-align: center;
    width: 25%;
  }
  
  #product-icon-description {
    text-align: center;
    width: 25%;
  }
  
  /*styling the actual-portfolio-container div element within the portfolio-container div element*/
  #portfolio-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  .image-size {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 2rem;
  }
  
  #bottom-row-projects {
    padding-bottom: 2rem;
  }
  
  #project-one-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-two-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-three-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-four-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-five-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-six-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-seven-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  
  #project-eight-title {
    text-align: center;
    font-weight: bold;
    margin: -50% 25%;
    background-color: white;
    border: 1px, solid, black;
  }
  

  #contact-us-container {
    background-image: url(assets/backgrounds/c_image.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  #contact-form {
    width: 65%;
    padding-right: 18px;
    padding-left: 18px;
    margin-right: auto;
    margin-left: auto;
  }
  
  #user-form-info {
    padding-bottom: 1rem;
  }
  
  #user-comment-text {
    padding-bottom: 2rem;
  }
  
  #contact-header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  
  ::placeholder {
    color: white;
  }
  
  #user-name,
  #user-email,
  #user-comments {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
  }
  
  #button-to-submit {
    margin-left: 24.5rem;
    margin-bottom: 2rem;
    background: transparent;
    border: 1px solid white;
    color: white;
  }

  #footer-container {
    text-align: center;
  }
  
  #social-media-icons {
    padding-top: 4rem;
  }
  
  a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  #delani-footer {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }